:root{
    --fontColor: white;
    --seconFontColor: black;
    --htmlwidth: 1100px;
    --mainColor: #1c1c1c; /*#d14140*/
    --secondColor: #323232; /*6d2120*/
    --aczentColor: #d14140; /*bf6261*/
    --warning: #d14140;
    --succesColor: #5e9e5e;
    --htmlBackground: #ECEFF1; /*ECEFF1*/
    --elementBackgorund: white;
    --navheight: 44px;

/*Table settings*/
    --spaceing: 10px;
    --cellheight: 70px;
    --borderRadius: 15px;
    --borderColor: #e0e0e0;
    --fontColorTable: #76818d;
    --firstCellWidth: 700px;
    --secondCellWidth: 300px;
    --borderWidth: 1px;

/*input settings*/
    --inputColor: #e0e0e0;

/*Snackbar settings*/
    --marginBottom: 50px;

}