.overview{
    width: 100%;
    border-radius: 15px;
}

.entry-theme{

    border-radius: 15px;
    width: 100%;
    height: calc(var(--cellheight) + var(--spaceing) * 2);
    background-color: white;
    margin: var(--spaceing) 0;
    border: var(--borderWidth) solid var(--borderColor);
}

.middle{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);;
}

.entry-theme:hover{
    background-color: #f1f1f1;
    box-shadow: 5px 5px 4px 1px #a3a3a3;
    cursor: pointer;
}

.entry-theme > div.cell1, div.cell2, div.cell3 {

    position: relative;
    float: left;
    padding: var(--spaceing);
}

.entry-theme > .cell1{
    height: var(--cellheight);
    width: 700px;
    color: black;
    border-right: var(--borderWidth) solid var(--borderColor);
}

.entry-theme > .cell2{
    height: var(--cellheight);
    color: var(--fontColorTable);
    width: 200px;
    border-right: var(--borderWidth) solid var(--borderColor);
}

.entry-theme > .cell3{
    height: var(--cellheight);
    color: var(--fontColorTable);
    width: calc(100% - 4 * var(--borderWidth) - var(--firstCellWidth) - var(--secondCellWidth));
}


.stats{
    width: 75%;
    color: var(--fontColorTable);
}

.stats td:last-child{
    text-align: right;
}