
#snackbar{
    visibility: hidden;
    position: fixed;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); /*center the snackbar*/
    bottom: var(--marginBottom);
    background-color: var(--secondColor);
    color: var(--fontColor);
    border-radius: var(--borderRadius);
    padding: 35px;
    z-index: 1;
}

#snackbar.display{
    visibility: visible;

    -webkit-animation: fadeSnackIn 1.0s, fadeSnackOut 1.0s 5.0s; /*1 second fade in and fade out with 5 seconds delay*/
    animation: fadeSnackIn 1.0s, fadeSnackOut 1.0s 5.0s;
}

#snackbar.goodNews{
    background-color: var(--succesColor) !important;
}

#snackbar.badNews{
    background-color: var(--warning) !important;
}

@keyframes fadeSnackIn {
    from{bottom: 0; opacity: 0;}
    to {bottom: var(--marginBottom); opacity: 1}
}

@keyframes fadeSnackOut {
    from {bottom: var(--marginBottom); opacity: 1}
    to{bottom: 0; opacity: 0;}
}

/*For webkit*/
@-webkit-keyframes fadeSnackIn {
    from{bottom: 0; opacity: 0;}
    to {bottom: var(--marginBottom); opacity: 1}
}

@-webkit-keyframes fadeSnackOut {
    from {bottom: var(--marginBottom); opacity: 1}
    to{bottom: 0; opacity: 0;}
}